<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <application
        android:name=".activities.VGoldApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyAppVGold"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".activities.CertificatesActivity"
            android:exported="false"
            android:parentActivityName=".activities.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme4">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activities.OurVendersActivity"
            android:exported="false"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activities.OfferLetterActivity"
            android:exported="false"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activities.OtpActivity"
            android:exported="false"
            android:parentActivityName=".activities.ContactListActivityForMoney"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme4">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activities.ContactListActivity"
            android:exported="false"
            android:parentActivityName=".activities.ScanActivityForMoney"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme4">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activities.Otp1Activity"
            android:exported="false"
            android:parentActivityName=".activities.PayActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme4">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activities.ReferActivity"
            android:exported="false"
            android:parentActivityName=".activities.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme4">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activities.PayActivity"
            android:exported="false"
            android:parentActivityName=".activities.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme4">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activities.SellGoldActivity"
            android:exported="false"
            android:parentActivityName=".activities.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme4">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activities.TransactionDetailsActivity"
            android:exported="false"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activities.GoldTransactionHistoryActivity"
            android:exported="false"
            android:parentActivityName=".activities.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme4">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activities.CPUserDetailsActivity"
            android:exported="false"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activities.DepositGoldActivity"
            android:exported="false"
            android:parentActivityName=".activities.GoldDepositHistoryActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme4">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activities.ChannelPartnerActivity"
            android:exported="false"
            android:parentActivityName=".activities.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme4">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activities.ReviewActivity"
            android:exported="false"
            android:parentActivityName=".activities.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme4">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activities.GoldBookingHistory"
            android:exported="false"
            android:parentActivityName=".activities.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme4">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activities.GoldDepositHistoryActivity"
            android:exported="false"
            android:parentActivityName=".activities.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme4">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activities.ProfileActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme4">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activities.WithdrawActivity"
            android:exported="false"
            android:parentActivityName=".activities.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme4">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activities.ChangePasswordActivity"
            android:exported="false"
            android:parentActivityName=".activities.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme4">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activities.Success1"
            android:exported="false"
            android:parentActivityName=".activities.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme4">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activities.MoneyWalletActivity"
            android:exported="false"
            android:parentActivityName=".activities.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme4">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activities.GoldWalletActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme4">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activities.PayActivityForMoney"
            android:exported="false"
            android:parentActivityName=".activities.ContactListActivityForMoney"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme4">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activities.PayInstallmentActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme4">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activities.ContactListActivityForMoney"
            android:exported="false"
            android:parentActivityName=".activities.ScanActivityForMoney"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme4">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activities.ScanActivityForMoney"
            android:exported="false"
            android:parentActivityName=".activities.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme4">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activities.PayUMoneyActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme4">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activities.SuccessActivity"
            android:exported="false"
            android:parentActivityName=".activities.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme4">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activities.AssociateActivity"
            android:exported="false"
            android:parentActivityName=".activities.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme4" />
        <activity
            android:name=".activities.PlanActivity"
            android:exported="false"
            android:parentActivityName=".activities.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme4" />
        <activity
            android:name=".activities.LoanActivity"
            android:exported="false"
            android:parentActivityName=".activities.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme4" />
        <activity
            android:name=".activities.ScanActivity"
            android:exported="false"
            android:parentActivityName=".activities.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme4" />
        <activity
            android:name=".activities.AddGoldActivity"
            android:exported="false"
            android:parentActivityName=".activities.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme4" />
        <activity
            android:name=".activities.AddMoneyActivity"
            android:exported="false"
            android:parentActivityName=".activities.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme4" />
        <activity
            android:name=".activities.ReferAndEarnActivity"
            android:exported="false"
            android:parentActivityName=".activities.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme4" />
        <activity
            android:name=".activities.UpdateProfileActivity"
            android:exported="false"
            android:parentActivityName=".activities.ProfileActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme3" />

        <activity
            android:name=".activities.MembershipActivity"
            android:exported="false"
            android:parentActivityName=".activities.MembershipActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme4" />
        <activity
            android:name=".activities.BookingDetailsActivity"
            android:exported="false"
            android:parentActivityName=".activities.GoldBookingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme4" />
        <activity
            android:name=".activities.GoldBookingActivity"
            android:exported="true"
            android:parentActivityName=".activities.GoldBookingHistory"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme4" />
        <activity
            android:name=".activities.OtpVerificationActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme3" />
        <activity
            android:name=".activities.MainActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme4" />
        <activity
            android:name=".activities.RegistrationActivity"
            android:exported="false"
            android:parentActivityName=".activities.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme4" /> <!-- <activity -->
        <!-- android:name=".RegistrationActivity" -->
        <!-- android:exported="false" /> -->
        <activity
            android:name=".activities.ForgotPasswordActivity"
            android:exported="false"
            android:parentActivityName=".activities.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme4" />
        <activity
            android:name=".activities.LoginActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme3" />
        <activity
            android:name=".activities.SplashScreenActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme2">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.cognifygroup.vgold.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_path" />
        </provider>
    </application>

</manifest>